# Arquivos binários
*.o

#
*.lo

# Arquivos executáveis
configure

*~
Makefile
Makefile.in
Makefile.in~
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
doc/Makefile
doc/Makefile.in
doc/reference/Makefile
doc/reference/Makefile.in
examples/.deps/
examples/.libs/
examples/Makefile
examples/Makefile.in
examples/test-kinect
gtk-doc.make
install-sh
libtool
ltmain.sh
m4/
missing
skeltrack/.deps/
skeltrack/.libs/
skeltrack/Makefile
skeltrack/Makefile.in
skeltrack/Skeltrack-0.1.gir
skeltrack/Skeltrack-0.1.typelib
skeltrack/libskeltrack-0.1.la
skeltrack/skeltrack-0.1.pc
stamp-h1
test-driver
tests/.deps/
tests/Makefile
tests/Makefile.in
nbproject/

